<div class="col-12 mb-2 py-2 border border-dark rounded">
  <div class="row h-100 justify-content-start align-items-center mt-2">
    <div class="col-md-6 col-12">
      <h4>Date</h4>
      {{common/date-field date=meeting.date disabled=true}}
    </div>
  </div>
  <ul class="list-group mb-2">
    <h4>Report List</h4>
    {{#each meeting.reports as |report|}}
      <li class="list-group-item">
        {{report-listing report=report}}
      </li>
    {{/each}}
  </ul>
</div>