<div class="row">
  {{#meeting-list-filter 
    speakers=speakers books=books 
    date=filterDate selectedSpeaker=filterSpeaker selectedBook=filterBook
    collectionChaged=meetingsCountChaged
    filterAction=(action "filterMeetings") as |filteredResults|}}
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          {{#each filteredResults as |meeting|}}
            {{meeting-listing meeting=meeting deleteReport=(action "deleteReport") deleteMeeting=(action "deleteMeeting")}}
          {{/each}}
        </div>
      </div>
    </div>
  {{/meeting-list-filter}}
</div>
