<div class="input-group">
  {{input type="text" class="form-control" disabled=disabled value=date}}
  <div class="input-group-append">
    <span class="input-group-text far non-block fa-lg fa-calendar-alt"></span>
  </div>
</div>