<h2 class="text-center my-3">Meetings</h2>
<nav class="nav">
  {{#link-to "meetings.index" class="my-2"}}
    <button type="button" class="btn btn-primary">
      <i class="far fa-list-alt"></i>
    </button>
  {{/link-to}}
  {{#link-to "meetings.new" class="m-2"}}
    <button type="button" class="btn btn-primary">
      <i class="far fa-plus-square"></i>
    </button>
  {{/link-to}}
</nav>
{{outlet}}